{# If you modify that file. Think to apply the same modifications in formulaire file. #}

<div class='panel panel-primary' data-role='mission'>
    <div class='panel-heading'>
        <div class='row'>
            <div class='col-xs-12 col-sm-4 worker'>
                {{ form_label(form.intervenant) | e }}
                {{ form_widget(form.intervenant, {'attr': {'class': 'select2-multiple'}}) | e }}
            </div>
        </div>
    </div>
    <div class='panel-body'>

        <div class='row'>
            <div class='col-xs-12 col-md-8'>
                <div class='row'>

                    <div class='col-xs-12 col-sm-4 col-md-3'>
                        {{ form_label(form.debutOm) | e }}<br>
                        {{ form_widget(form.debutOm, {'attr': {'class': 'js-datepicker'}}) | e }}
                    </div>
                    <div class='col-xs-12 col-sm-4 col-md-3'>
                        {{ form_label(form.finOm) | e }}<br>
                        {{ form_widget(form.finOm, {'attr': {'class': 'js-datepicker'}}) | e }}
                    </div>
                    <div class='col-xs-12 col-sm-4 col-md-3'>
                        {{ form_label(form.pourcentageJunior) | e }}<br>
                        {{ form_widget(form.pourcentageJunior) | e }}
                    </div>
                    <div class='col-xs-12 col-sm-4 col-md-3'>
                        {{ form_label(form.referentTechnique) | e }}<br>
                        {{ form_widget(form.referentTechnique, {'attr': {'class': 'select2-multiple'}}) | e }}
                    </div>
                </div>
                <div class='row' style='margin-top: 10px'>
                    <div class='col-xs-12 col-sm-4 col-md-3'>
                        {{ form_label(form.version) | e }}<br>
                        {{ form_widget(form.version) | e }}
                    </div>
                    <div class='col-xs-12 col-sm-4 col-md-3'>
                        {{ form_label(form.dateSignature) | e }}<br>
                        {{ form_widget(form.dateSignature, {'attr': {'class': 'js-datepicker'}}) | e }}
                    </div>
                    <div class='col-xs-12 col-sm-4 col-md-3'>
                        {{ form_label(form.signataire1) | e }}<br>
                        {{ form_widget(form.signataire1, {'attr': {'class': 'select2-multiple'}}) | e }}
                    </div>
                </div>
                <div class='row' style='margin-top: 25px'>
                    <div class='col-md-12 col-xs-12'>
                        {{ form_label(form.phases) | e }}
                        {{ form_widget(form.phases, {'attr': {'style': 'width:100%'}}) | e }}

                    </div>
                </div>
            </div>
            
        </div>


    </div><!-- end panel body -->
</div>
